html
{
	background:#E4E2DC;
	display:flex;
	align-items:center;
	justify-content:center;
	
}

body
{
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

li,p,h1,h2
{
	color:rgb(255,36,146);
	font-family:sans-serif;
	line-height: 1.5;
	font-size: 1.2em;
}

ul
{
	height:auto;
	transition: opacity 0.5s ease-in;
}

ul,p,h1,h2
{
	margin-bottom: -3%;
}
h1
{
	font-size: 3em;
}

h2
{
	font-size: 2em;
}

a h2, a p
{
	text-decoration: underline;	
	text-decoration-color: rgb(255,36,146);
	cursor: pointer;
}

.bold
{
	color:rgb(255,0,255);
	font-weight: bold;
}

.hidden
{
	height:0;
	opacity: 0;
	overflow: hidden;
}